.git
.ai
.cursor
.github
.fleet
.idea
.vscode
.nova
.zed
.dockerignore
.editorconfig
.gitattributes
.gitignore
.phpstorm.meta.php
.phpunit.cache

.env
.env.*
!.env.deployment
.DS_Store

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

vendor
node_modules

tests
phpunit.xml
Dockerfile
_ide_helper.php
AGENTS.md

